body {
  overflow: hidden;
}

.msg-form {
  width: 100%;
  height: 56px;
  padding: 10px;
}

#single_room,
#messages {
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#room_container {
  margin-right: 0 !important;
}

#side_panel {
  height: calc(100vh - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#chatroom_container {
  margin-right: 0 !important;
  overflow-x: hidden;
  overflow-y: scroll;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message_box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555;
}
